/* .col {
    height: 100px;
} */

.img-height {
    height: 350px;
}

.banner-row {
    min-height: 50vh;
}

.banner {
    background-image: url("coffee_pic.jpg");
    /* object-fit: cover;*/
    background-position: center;
    background-size: cover;
}

.number-tag {
    width: 9rem;
}

.navbar-nav {
    margin-left: 73%
}

.machines {
    position: absolute;
    left: 202px;
    top: 825px;
    color: white;
}

.maps {
    position: absolute;
    left: 712px;
    top: 825px;
    color: white;
}

.expertise {
    position: absolute;
    left: 1196px;
    top: 825px;
    color: white;
}